body{
    background-color: rgb(212, 58, 97);

}
h1 {
    color:rgb(93, 139, 170)

}
h1{
    text-align: center;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} 